Repository rudra-sah00/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit', jest --bail --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'tsc --noEmit'"],
  "**/__tests__/**/*.{ts,tsx}": ["jest --bail --findRelatedTests"]
}

fix: update react-pdf CSS import paths for v10 compatibility
  app/components/ResumeViewer.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: refine scroll lock and apply biome fixes
  app/components/ResumeModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: implement fixed-body scroll lock and biome fixes
  app/components/ResumeModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

resume update
  public/resume.pdf
Due: none

feat: add SSH Client project to portfolio
  app/projects/page.tsx
  app/projects/project-5/page.tsx
  lib/assets.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

chore: update project references from watch-rudra to nightwatch
  app/projects/project-1/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Delete public/resume.pdf
  public/resume.pdf
Due: none

Add files via upload
  public/resume.pdf
Due: none

fix: bump Node.js to 22 for pnpm 11 compatibility
  .github/workflows/deploy.yml
Due: none

fix: allow build scripts for canvas, sharp, simple-git-hooks, unrs-resolver
  package.json
Due: prettier --write

fix: pin pnpm to v10 to avoid v11 build script errors
  .github/workflows/deploy.yml
Due: none

Update package.json
  package.json
Due: prettier --write
