Repository rudra-sah00/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit', jest --bail --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'tsc --noEmit'"],
  "**/__tests__/**/*.{ts,tsx}": ["jest --bail --findRelatedTests"]
}

fix: adjust ESLint rules and fix duplicate import
  eslint.config.mjs
  src/components/ui/sparkles.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

refactor: reduce code complexity and fix type safety
  src/lib/terminal/chat/gemini.ts
  src/lib/terminal/engine.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

refactor: standardize help command and streamline contact options
  src/lib/terminal/__tests__/engine.test.ts
  src/lib/terminal/commands/__tests__/index.test.ts
  src/lib/terminal/commands/index.ts
  src/lib/terminal/engine.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit', jest --bail --findRelatedTests

fix: add Prettier check to pre-commit hook and fix Lighthouse CI
  .github/workflows/bundle-size.yml
  .github/workflows/code-quality.yml
  .github/workflows/lighthouse.yml
  .husky/pre-commit
Due: none

fix: enable preview deployments on PRs without dependencies
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
Due: none

feat: enhance test coverage PR comment with visual bars and detailed metrics
  .github/workflows/ci.yml
Due: none

fix: standardize help command display in terminal UI
  src/components/Hero.tsx
  src/components/TerminalPopup.tsx
  src/components/__tests__/Hero.test.tsx
  src/components/__tests__/TerminalPopup.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit', jest --bail --findRelatedTests

ci: setup Codecov integration with dedicated workflow and updated badges
  .github/workflows/codecov.yml
  README.md
Due: prettier --write

ci: refactor workflows - separate deployments and remove skipped jobs from PRs
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
Due: none

fix: prevent duplicate welcome comments for first-time contributors
  .github/workflows/pr-validation.yml
Due: none

refactor: move welcome workflow to separate file to avoid skipped status on PRs
  .github/workflows/pr-validation.yml
  .github/workflows/welcome-contributors.yml
Due: none

ci: consolidate production workflows to run sequentially in single pipeline
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/deploy-production.yml
Due: none

ci: disable separate codecov workflow - coverage now handled in production deployment
  .github/workflows/codecov.yml
Due: none

docs: update badges to reflect production as default branch
  README.md
Due: prettier --write

docs: update workflow README with all recent changes
  .github/workflows/README.md
Due: prettier --write

feat: add 'code' command to download multiple project files
  public/downloads/New Doc X.txt
  public/downloads/New Text 1.txt
  public/downloads/New Text 2.txt
  public/downloads/New Text.txt
  src/components/TerminalPopup.tsx
  src/lib/terminal/commands/__tests__/index.test.ts
  src/lib/terminal/commands/index.ts
  src/lib/terminal/engine.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit', jest --bail --findRelatedTests

feat: package code files as ZIP instead of separate downloads
  package-lock.json
  package.json
  src/components/TerminalPopup.tsx
  src/lib/terminal/commands/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

chore: remove console.error from ZIP download error handling
  src/components/TerminalPopup.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

test: update code command tests for ZIP download feature
  src/lib/terminal/commands/__tests__/index.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit', jest --bail --findRelatedTests

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

feat: portfolio initial commit
  .gitignore
  README.md
  app/components/FeatureSection.tsx
  app/components/Hero.tsx
  app/components/ImageScrollCarousel.tsx
  app/components/Infrastructure.tsx
  app/components/Projects.tsx
  app/components/SignatureText.tsx
  app/components/Work.tsx
  app/components/works/OpenSource.tsx
  app/globals.css
  app/infrastructure/cloud/page.tsx
  app/layout.tsx
  app/page.tsx
  app/projects/project-1/page.tsx
  app/projects/project-2/page.tsx
  biome.json
  eslint.config.mjs
  lib/assets.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.mjs
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

feat: add contact section, separate repo accordions, redesign booking card
  .gitignore
  app/components/Contact.tsx
  app/components/works/OpenSource.tsx
  app/page.tsx
  lib/assets.ts
  package.json
  pnpm-lock.yaml
  public/resume.pdf
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

ci: add GitHub Actions deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: correct project routes, section labels, and 404 redirect
  app/components/Projects.tsx
  app/not-found.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

ci: add github deployment status tracking
  .github/workflows/deploy.yml
Due: none

docs: update README
  README.md
Due: prettier --write

feat: mobile optimization, bottom nav with glass effect, section tracking fixes
  app/components/BottomNav.tsx
  app/components/Contact.tsx
  app/components/FeatureSection.tsx
  app/components/Hero.tsx
  app/components/Infrastructure.tsx
  app/components/Projects.tsx
  app/components/Work.tsx
  app/globals.css
  app/infrastructure/cloud/page.tsx
  app/layout.tsx
  app/page.tsx
  app/projects/project-1/page.tsx
  app/projects/project-2/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

chore: fix biome config — force-ignore build dirs, fix organizeImports syntax
  biome.json
Due: prettier --write

feat: add MyChess project-4, certifications section, fix project numbering
  app/components/Certifications.tsx
  app/components/Projects.tsx
  app/page.tsx
  app/projects/page.tsx
  app/projects/project-1/page.tsx
  app/projects/project-2/page.tsx
  app/projects/project-3/page.tsx
  app/projects/project-4/page.tsx
  lib/assets.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

style: fix horizontal scroll on mobile and optimize BottomNav
  app/components/BottomNav.tsx
  app/globals.css
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Project 1 assets update
  lib/assets.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

ico added
  public/favicon.ico
Due: none

Refactor: Use centralized assets from assets.ts in Project-1 page
  app/projects/project-1/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Resume update
  public/resume.pdf
Due: none

resume design update
  app/components/Hero.tsx
  app/components/ResumeModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

feat: upgrade resume viewer to react-pdf and fix mobile scrolling
  app/components/ResumeModal.tsx
  app/components/ResumeViewer.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

refactor: resolve all biome lint issues and finalize resume viewer
  app/components/ResumeViewer.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'
